################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitTests/obj
/UnitTests/bin
/VertigoGamesAssignment/bin
/VertigoGamesAssignment/obj
.vs
/VertigoGamesAssignment/VertigoGamesAssignment.csproj.user
